<!DOCTYPE html>
<html lang="en">
<head>
  <title>Progress Bar By Arun Reghu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/style/bootstrap.min.css">
  <link rel="stylesheet" href="app/style/style.css">
</head>
<body>
<div class="container" ng-app="mainApp" ng-controller="progressBarController as progressBar">
	<div class="row">
		<h2>Progress Bar</h2>
		<div class="progress" ng-repeat="bar in progressBar.controlls.bars track by $index" >
			<progress-bar item="bar""></progress-bar>
		</div>
 	</div>
	<div class="row">
        <div class="col-md-2">
			<select class="form-control" id="sel1" ng-model="progressBar.progressbarIndex">
       			 <option ng-repeat="progress in progressBar.controlls.bars track by $index" value="{{$index}}">progress{{$index+1}}</option>
     		 </select>
     	</div>
     	 <div class="col-md-10">
     	 	<div class="btn-controller" ng-repeat="button in progressBar.controlls.buttons">
     	 		<controlls item="button" barindex="progressBar.progressbarIndex" ></controlls>
     	 	</div>
     	 </div>
</div>

<script src="app/js/jquery.min.js"></script>
<script src="app/js/bootstrap.min.js"></script>

<script src="app/js/angular.min.js"></script>

<script src="app/app.js"></script>
<!--Services -->
<script src="app/services/app.service.mainservice.js"></script>
<!--Directives -->
<script src="app/directives/app.directive.progressbar.js"></script>
<script src="app/directives/app.directive.controlls.js"></script>
</body>
</html>
