<!DOCTYPE html>
<html lang="en">
<head>
  <title>Progress Bar By Arun Reghu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/style/bootstrap.min.css">
  <link rel="stylesheet" href="app/style/style.css">
</head>
<body>
<div class="container" ng-app="mainApp" ng-controller="myController">
	<div class="row">
		<h2>Progress Bar</h2>
		<div class="progress" ng-repeat="bar in controlls.bars track by $index">
			<div class="progress-bar progress-bar-success" ng-class="{'progress-bar-danger': bar > controlls.limit}" role="progressbar" aria-valuenow="30"  ng-style="{'width':getWidth(bar)}">
			<span>{{bar}}%</span>
			</div>
		</div>
 	</div>
	<div class="row">
        <div class="col-md-2">
			<select class="form-control" id="sel1" ng-model="progressbarIndex">
       			 <option ng-repeat="progress in controlls.bars track by $index" value="{{$index}}">progress{{$index+1}}</option>
     		 </select>
     	</div>
     	<div class="col-md-10">
			<button ng-click="updateProgress(button,progressbarIndex)"  ng-repeat="button in controlls.buttons" type="button" class="btn btn-primary ">{{button}}</button><br>
	</div>
</div>

<script src="app/js/jquery.min.js"></script>
<script src="app/js/bootstrap.min.js"></script>
<script src="app/js/angular.min.js"></script>
<script src="app/js/angular-animate.js"></script>
<script src="app/app.js"></script>
</body>
</html>
